/* Checkout Cart, Shipping Prices */

.shipping-item {
    width: 100%;
    // min-width: 400px;
    // max-width: 450px;
    // display: flex;
    // align-items: center;
    // flex-direction: row;
    // justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
  }
  