<div fxLayout="column" class="cart-container">
  <h3> Your cart </h3>
  <div class="cart-item" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
  </div>
  <div>
    <p>
      <app-shipping> </app-shipping>
    </p>

    <p> Total Cost : {{totalPrice}} </p>
  </div>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">
        Name
      </label>
      <input id="name" type="text" formControlName="name">
    </div>

    <div>
      <label for="address">
        Address
      </label>
      <input id="address" type="text" formControlName="address">
    </div>

    <button class="button" type="submit">Purchase</button>

  </form>
</div>